* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

.color-palette {
    box-shadow: 6px 6px 12px;
    text-align: center;
    margin: 24px;
    padding: 24px;
}

.color {
    margin: 0px;
    padding: 24px;
}

#color-1 {
    background-color: #c4e7d4;
    text-decoration: overline;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#color-2 {
    background-color: #b9c0da;
    text-decoration: overline;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#color-3 {
    background-color: #998da0;
    text-decoration: overline;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.color-palette {
    box-shadow: 6px 6px 12px;
    text-align: center;
    margin: 24px;
    padding: 24px;
}

.color {
    margin: 0px;
    padding: 24px;
}

#color-4 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: overline;
    background-color: #b9abab;
}

#color-5 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: overline;
    background-color: #ccbcbc;
}

#color-6 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: overline;
    background-color: #f1e3e4;
}

.color-palette {
    box-shadow: 6px 6px 12px;
    text-align: center;
    margin: 24px;
    padding: 24px;
}

.color {
    margin: 0px;
    padding: 24px;
}

#color-7 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: overline;
    background-color: #7a725c;
}

#color-8 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: overline;
    background-color: #d0cd94;
}

#color-9 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #3c787e;
    text-decoration: overline;
}

body {
    background-color: rgb(124, 126, 130);
}

#bc-1 {
    background-color: white;
}

#bc-2 {
    background-color: white;
}

#bc-3 {
    background-color: white;
}