@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Anton&family=Tourney:ital,wght@0,100..900;1,100..900&display=swap');
* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#poster-container {
    width: 90vw;
    max-width: 1200px;
    margin: 0px auto;
    background-color: rgb(184, 184, 184);
    padding: 25px;
}

.sbs-container img {
    width: 300px;
    height: 268px;
}

.sbs-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-container {
    text-align: center;
}

.sbs-container p {
    font-size: 70px;
}

.teams h2 {
    text-align: center;
    font-family: "Anton", sans-serif;
}

.teams {
    padding: 45px;
}

.teams p {
    font-family: "Tourney", sans-serif;
}

.text-container h2 {
    font-size: 35px;
    margin: 0px;
    font-family: "Tourney", sans-serif;
}

h1 {
    font-size: 70px;
    margin: 6px;
}

.party-info {
    font-family: "Alfa Slab One", serif;
}

.buttons a {
    background-color: rgb(158, 55, 55);
    color: white;
    text-decoration: none;
    padding: 6px 12px;
    margin: 6px;
}