@import url('https://fonts.googleapis.com/css2?family=National+Park:wght@200..800&family=Oleo+Script+Swash+Caps:wght@400;700&display=swap');
* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}
#nav-bar {
    background: linear-gradient(
        to bottom, 
        skyblue,
        blue
    );
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    position: sticky;
    top: 0px;
}

#nav-bar a {
    text-decoration: none;
    color: white;
    padding: 24px;
    font-family: "National Park", sans-serif;
}


#nav-bar #logo {
    margin-right: auto;
    font-family: "Oleo Script Swash Caps", system-ui;
    font-size: 36px
}

#nav-bar .cta {
    background-color: white;
    color: blue;
    border-radius: 36px;
    padding: 16px 24px;
    font-size: 20px;
    font-weight: bold;
    min-width: 150px;
    text-align: center;
    margin: 0px 24px 0px 24px;
}

#layout {
    width: 800px;
    margin: 48px auto;
    font-size: 24px;
}

#nav-bar .link {
    justify-content: space-between;
    align-items: center;
}