@import url('https://fonts.googleapis.com/css2?family=Faculty+Glyphic&family=Handlee&display=swap');
* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
    background-color: rgb(148, 53, 15);
}

img {
    width: 250px;
    border: 12px outset goldenrod;
    box-shadow: inset 0px 0px 10px rgb(53, 37, 22);
    background-color: rgb(241, 239, 215);
    padding: 12px;
    margin:24px;
}

#bird-3 {
    border-radius: 50%;
}

h2 {
    font-family: "Faculty Glyphic", sans-serif;
    font-size: 45px;
    width: 270px;
    border: 12px outset goldenrod;
    box-shadow: inset 0px 0px 10px rgb(53, 37, 22);
    background-color: rgb(241, 239, 215);
    padding: 20px;
    margin:24px;
}

.bird {
    display: inline-block;
}
