* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

p {
    /* solid dashed dotted outset inset ridge groove */
    border: 10px solid pink;
    /* do not use negative margin */
    /* margin and padding goes clockwise */
    /* margin: 12px 3px 6px 9px; */
    /* padding: 12px 3px 6px 9px; */
    margin: 24px 12px;
    padding: 24px 36px;
}

div {
    margin: 50px;
    border: 10px dashed lightskyblue;
    padding: 24px;
    background-color: lightblue;
    border-radius: 24px;
}
