* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#container {
    background-color: rgb(39, 66, 74);
    width: 500px;
    min-height: 100vh;
    font-size: 0px;
}
.block {
    width: 100px;
    height: 100px;
    background-color: goldenrod;
    display: inline-block;
    border: 10px outset rgba(27, 27, 27, 0.399);
    background: linear-gradient(45deg, rgba(251, 251, 250, 0.763), rgba(5, 5, 5, 0));

}

.red {
    background-color: rgb(150, 162, 230);
    
}

.blue {
    background-color: rgb(108, 71, 176);
    
}

.goldenrod {
    background-color: rgb(207, 120, 238);
    
}

.pink {
    background-color: rgb(192, 128, 139);
    
}