* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#nav-bar {
    background: linear-gradient(
        to bottom, 
        skyblue,
        blue
    );
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    position: sticky;
    top: 0px;
}

#nav-bar a {
    text-decoration: none;
    color: white;
    padding: 24px;
}

#nav-bar img{
    width: 150px;
}

#nav-bar #logo {
    margin-right: auto;
}

#nav-bar .cta {
    background-color: white;
    color: blue;
    border-radius: 36px;
    padding: 16px 24px;
    font-size: 20px;
    font-weight: bold;
    min-width: 150px;
    text-align: center;
    margin: 0px 24px 0px 24px;
}

#layout {
    width: 800px;
    margin: 48px auto;
    font-size: 24px;
}